{% extends 'blog/base.html' %}

{% block content %}
  <article class="media content-section">
  <img src="{{object.author.profileuser.image.url}}" class="rounded-circle article-img ">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'blog:user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:'F d,Y' }}</small>
        {% if object.author == user %}
          <div>
            <a href="{% url 'blog:post-update' object.id %} " class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
            <a href="{% url 'blog:post-delete' object.id %} " class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
          </div> 
        {% endif %} 
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}

    
