{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="POST">
       {% csrf_token %}
        <fieldset class="for-group">
           <legend class="border-bottom mb-4">Blog Post</legend>
           {{form |crispy }}
        </fieldset>
        <div class="form-group">
         <button type="submit" class="btn btn-outline-info">Post</button>
        </div>
    </form>
  </div>
{% endblock content %}