{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{user.profileuser.image.url}}">
    <div class="media-body">
      <h2 class="account-heading">{{user.username}}</h2>
      <p class="text-secondary">{{user.email}}</p>
    </div>
  </div>
  <!-- FORM HERE -->
  <!-- Uses 2 form and enctype to upload image -->
  <form method="POST"  enctype="multipart/form-data"> 
       {% csrf_token %}
        <fieldset class="for-group">
           <legend class="border-bottom mb-4">Profile Info</legend>
           {{u_form |crispy }}
           {{p_form |crispy }}
        </fieldset>
        <div class="form-group">
         <button type="submit" class="btn btn-outline-info">Update</button>
        </div>
    </form>
</div>
{% endblock content %}